a {
    text-decoration: none; color: green;
}
p:nth-child(2n) {background-color: aqua;}
h1 {
    color: rgb(163, 22, 104); text-shadow: 2px 2px rgb(43, 204, 65);
}

caption {text-transform: capitalize;}
