


body {
    margin: 50px;
    background-image: url(nature1.jpg);
    background-repeat: no-repeat;
    align-content: center;
    position: relative;
    bottom: 40px;
    
   
}

.tablink {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 25px;
    max-width: 100%;
    

}

.tabs_label {
    padding: 10px 19px;
    cursor: pointer;
    background-color: rgb(196, 173, 218);
    font-size: medium;
    font-family: sans-serif;
    border-bottom: #009578;
       

}

.tabs_radio {
    display: none;
}

.tabcontent {
    order: 1;
    width: 100%;
    border-bottom: 3px solid rgba(rgb(138, 74, 74), green, blue, alpha);
    display: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    
    
}

.tabs_radio:checked+.tabs_label {
    font: bold ;
    color: red ;
    border-bottom: 2px solid #009578;
    background-color: aquamarine;
    
    
}

.tabs_radio:checked+.tabs_label+.tabcontent {
    display: inline-block;
    background-color: none;
    
}
fieldset{
    float: left;
    margin: 50px;
    margin-top: 0.1px;
}
.tablink label:hover{
    background-color: blue;
}
p{
    color: rgb(53, 32, 80);
}