.parent{
    
}
.box{
    display: inline;
    background: red;
    height: 200px;
    width: 200px;
    border:2px blue solid
}
#two{
    background: green;
    top: 20px;
}

.overflow{
    background-color: coral;
    border: 1px solid;
    width: 300px;
    height: 300px;
    overflow: auto;
}
img{
    width: 150px;
    height: 100px;
    float: left;
}
#div4{
    float: left;
    padding: 10px;
    border: 2px solid;
}

#div5{
    padding: 10px;
    border: 2px solid;
    clear: left;
}

#noclear{
    border: 2px;
    overflow: auto;
}
#img1{
    position: absolute;
    left: 0px;
    z-index: -1;
}
#box{
    margin-top: 100px;
    border: 2px solid;
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
}